body {
  font-family: Roboto;
  letter-spacing: 0.03em;
  background-color: var(--background-color);
  color: var(--text-secondary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-secondary-color);
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  width: 320px;
  height: 581px;
  background-color: var(--background-color);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-icon {
  fill: var(--black-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-btn:hover .modal-icon {
  fill: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.client__list {
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.customers {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .customers {
    flex-wrap: nowrap;
  }
}

.customers__item {
  height: 90px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__item:focus, .customers__item:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .customers__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  background-color: #fff;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:focus, .customers__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.customers__icon {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .header__section {
    max-width: 767px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__logo--black {
  color: #000000;
}

.nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(---text-secondary-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus, .nav__link:hover {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
}

.header-contact {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    flex-direction: column;
    align-content: center;
  }
}

.header-contact__list {
  margin-left: auto;
}

.header-contact__item + .header-contact__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item + .header-contact__item {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item {
    margin-left: 0px;
  }
}

.header-contact__link {
  display: inline-flex;
  padding: 32px 0px 32px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__link {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  padding: 15px 10px 48px 40px;
  z-index: 999;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
.menu-open:hover, .menu-open:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
.menu-close:hover, .menu-close:focus {
  fill: var(--accent-color);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu-list__link:focus, .mob-menu-list__link:hover {
  color: var(--accent-color);
}
.mob-menu-list__link--current {
  color: var(--accent-color);
}

.mob-menu-list__tell {
  display: block;
  margin-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-list__mail {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mob-menu-list__social {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.mob-menu-list__social-item {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-menu-list__social-item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-tertiary-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile hero.jpg");
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile hero 2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 0px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet hero.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-resolution: 2dppx), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet hero 2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop hero.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-device-pixel-ratio: 2) and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-resolution: 192dpi) and (min-width: 1200px) and (min-resolution: 2dppx), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop hero 2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 696px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 360px;
    line-height: 1.36;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__btn {
  display: inline-block;
  min-width: 140px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: var(--accent-color);
  padding: 7px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--background-color);
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .hero__btn:hover, .hero__btn:focus {
    padding: 10px 32px;
    font-size: 16px;
    min-width: 200px;
  }
}

.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 479px) {
  .advantage {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.advantage-flex {
  display: flex;
  flex-wrap: wrap;
}

.advantage-list {
  justify-content: center;
  grid-gap: 30px;
}

@media screen and (min-width: 480px) {
  .advantage-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantage-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list__item {
    width: 270px;
  }
}

.advantage-list__icon {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: var(--background-quaternary-color);
}
@media screen and (min-width: 480px) {
  .advantage-list__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantage-list__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-list__icon {
    width: 270px;
  }
}

.advantage-list__icon-image {
  align-items: center;
}

.advantage-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage-list__title {
    text-align: left;
  }
}

.features-list__content {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.about {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about__heading {
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.about-list__item {
  position: relative;
}

.about-list__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-quaternary-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color);
}
@media screen and (max-width: 479px) {
  .team-list__item {
    width: 270px;
  }
}
@media screen and (min-width: 480px) {
  .team-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
  }
}

.team-list__workers {
  padding: 30px 0px;
}

.team-list__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__occupation {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
}

.team-list__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  margin-top: 16px;
  list-style: none;
  gap: 10px;
}

.team-list__social-item {
  width: 44px;
  height: 44px;
}

.team-list__social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list__social-link:hover, .team-list__social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.team-list__social-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.footer {
  text-align: center;
  padding: 60px 0px;
  background-color: var(--background-tertiary-color);
}

.footer__flex {
  display: block;
  margin: 0;
  padding: 0px;
  list-style: none;
}
@media (min-width: 768px) {
  .footer__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 165px;
  }
}
@media (min-width: 1200px) {
  .footer__flex {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 70px;
  }
}

.footer__logo--white {
  color: var(--background-color);
}

.footer-contact {
  margin-top: 20px;
}

.footer-contact__address {
  color: var(--background-color);
}

.footer-contact__item {
  margin-top: 9px;
}

.footer-contact__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--accent-color);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  list-style: none;
}

.footer-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.062745098);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__link:hover, .footer-list__link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.footer-list__icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --text-color: #757575;
  --text-secondary-color: #212121;
  --accent-color: #2196F3;
  --background-color: #FFFFFF;
  --background-secondary-color: #E5E5E5;
  --background-tertiary-color: #2F303A;
  --background-quaternary-color: #F5F4FA;
}

.portfolio-hero {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__btn {
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.portfolio__button:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button .portfolio__btn {
  padding: 6px 22px;
}

.portfolio__btn--active {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.project p {
  font-size: 16px;
  line-height: 1.9;
}

.project__card {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__card:hover .project__overlay {
  bottom: 0;
}

.project__description {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.project__image {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  bottom: -294px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 370px;
  height: 294px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--background-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__name {
  color: var(--text-secondary-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-activity {
  color: var(--text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.form {
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
  }
}

.form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.top-title {
  margin-top: 12px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label,
.comment-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--accent-color);
}
.form-input:focus ~ .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);
  display: inline-block;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: var(--accent-color);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.form-field-chek {
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .form-field-chek {
    padding-left: 14px;
  }
}

.icon-chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.form-checkbox:checked + .icon-chek {
  background-image: url(../images/sprite.svg#icon-close);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.policy-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 479px) {
  .policy-label {
    font-size: 10px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1200px) {
  .policy-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-link {
  margin-left: 3px;
  color: rgb(33, 150, 243);
}
@media screen and (max-width: 479px) {
  .policy-link {
    position: absolute;
    top: 18px;
    left: 21px;
  }
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:focus, .form-btn:hover {
  background-color: #188ce8;
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--background-color);
}

.address__list {
  margin-bottom: 9px;
}

.address__email:first-child {
  margin-bottom: 9px;
}

.address__email,
.address__telephone {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.address__place {
  color: #FFFFFF;
}

.social-section {
  display: block;
  margin-top: 60px;
  text-align: center;
}
@media (min-width: 768px) {
  .social-section {
    margin-top: 0px;
  }
}

.social-section__text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--background-color);
}
@media (min-width: 768px) {
  .social-section__text {
    padding-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .social-section__text {
    text-align: left;
  }
}

.footer-submit {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .footer-submit {
    margin-top: 0px;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .footer-submit {
    margin-left: 23px;
  }
}

.footer-submit__text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--background-color);
}

.footer-submit__input {
  margin-bottom: 20px;
  width: 100%;
  margin: 0;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--hero-background-color);
  color: var(--background-color);
}
.footer-submit__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 1200px) {
  .footer-submit__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-submit__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 20px;
  padding: 8px 29px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--background-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-height: 43px;
}
@media (min-width: 1200px) {
  .footer-submit__btn {
    margin-top: 0px;
  }
}
.footer-submit__btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/sprite.svg#icon-icon-send);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}/*# sourceMappingURL=main.css.map */