.about__heading,
.team__heading,
.client__heading {
    color: var(--text-secondary-color);

    margin-bottom: 30px;
    text-align: center;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
        }
}