:root {
    $mainFont: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    --text-color: #757575;
    --text-secondary-color: #212121;
    --accent-color: #2196F3;
    --background-color: #FFFFFF;
    --background-secondary-color: #E5E5E5;
    --background-tertiary-color: #2F303A;
    --background-quaternary-color: #F5F4FA;
}