.about {
    padding-bottom: 94px;
    display: none;

    @media screen and (min-width: 1200px) {
            display: block;
        }
}


.about__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 479px) {
            width: 270px;
        }
    
        @media screen and (min-width: 480px) {
            width: 450px;
        }
    
        @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

.about__activity {
    position: relative;
}

.about__text {
    position: absolute;

    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    color: var(--background-color);
    background-color: rgba(47, 48, 58, 0.8);
}