.address__list {
    margin-bottom: 9px;
}

.address__email:first-child {
    margin-bottom: 9px;
}

.address__email,
.address__telephone {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.address__place {
    color: #FFFFFF;

}