.advantage {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }

    @media screen and (max-width: 479px) {
            padding-left: 15px;
            padding-right: 15px;
        }

}
.advantage-flex{
    display: flex;
    flex-wrap: wrap;
}

.advantage__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    flex-direction: column;
    background-color: var(--background-quaternary-color);

    @media screen and (min-width: 480px) {
            width: 450px;
        }
    
        @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

.advantage__block {

    @media screen and (min-width: 480px) {
            width: 450px;
        }
    
        @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

.advantage__image {
    align-items: center;
}

.advantage__list {
    justify-content: center;
    gap: 30px;

    
}

.advantage__title {
    margin-bottom: 10px;

    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    
    @media screen and (min-width: 768px) {
            text-align: left;
        }
}
.advantage__content{
    font-size: 14px;
    line-height: 1.71;

    color: var(--text-secondary-color);
}