.social-section {
    display: block;

    margin-top: 60px;
    text-align: center;

    @media (min-width: 768px) {
        margin-top: 0px;
    }
}

.social-section__text {
    padding: 20px 0px 10px 0px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    text-transform: uppercase;

    color: var(--background-color);

    @media (min-width: 768px) {
        padding-bottom: 10px;
    }

    @media (min-width: 1200px) {
        text-align: left;
    }
}